<% content_for :title, "Editing person" %>

<div class="mb-3">
  <%= link_to "← Back to person", @person, class: "btn btn-outline-secondary" %>
</div>

<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="card-title mb-4">Edit Person</h1>
        <%= render "form", person: @person %>
      </div>
    </div>
  </div>
</div>
